.excel-table-scroll::-webkit-scrollbar {
  height: 18px;
}

.excel-table-scroll::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 10px;
}

.excel-table-scroll::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 10px;
}

.excel-table-scroll::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}